
$font-rubik : 'Rubik', sans-serif;
$font-josefin : 'Josefin Sans', sans-serif;
$font-island : 'Island Moments', cursive;
$font-ropa : 'Ropa Sans', sans-serif;
$font-jost : 'Jost', sans-serif;
$font-playwrite : 'Playwrite IT Moderna', sans-serif;
$nightowl-border: #1d3b53;
$col-1: #222746;
$col-2: #b9c1cf;
$col-3: #4a5070;
$col-4: #444058;
$col-5: #9296a4;
$col-6: #282d4d;
$col-7: #ee6173;
$col-8: #c1c9d7;
$col-9: #518beb;
$col-10: #646981;
$col-11: #843fed;
$col-12: #7a5d65;
$col-13: #1d223f;
$col-14: #274e5b;
$col-15: #792d3c;
$col-16: #d2a65e;
$col-17: #1aa66f;
$col-18: #323553;
$col-19: #afb5c1;
$col-20: #604f5c;

.appointmentSection {
  padding: 20px;
  background-color:$col-18;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  margin: 0 20px auto;
  margin-top: 50px;

  .toggleButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      background-color: $col-2;
      font-family: $font-rubik;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.active {
        background-color: $col-7;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .appointmentsList {
    .appointmentRow {
      display: flex;
      gap: 20px;
      align-items: center;
      background-color: $col-3;
      border-left: 3px solid $col-17;
      box-shadow: 0 0 5px rgba(9, 1, 20, 0.6);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .doctorInfo {
        display: flex;
        align-items: center;

        .doctorImage {
          margin-right: 10px;
          overflow: hidden;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          border: 3px solid $col-9;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .doctorDetails {
          p {
            margin: 0;
            font-weight: bold;
            font-family: $font-rubik;
            font-size: 1.2rem;
            color: $col-16;
          }

          p:first-child {
            font-size: 1.1rem;
          
          }

          p:last-child {
            color: #666;
            font-size: 0.9rem;
            font-family: $font-josefin;
            font-weight: 600;
            color: #ccc;
          }
        }
      }

      .appointmentDetails {
        flex: 1;
        padding-left: 20px;
        height: 100px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border: 2px solid $col-10;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        

        p {
          margin: 5px 0;
         font-family: $font-rubik;
         color: #fff;
        }

        strong {
          font-weight: bold;
          margin-right: 5px;
          font-family: $font-rubik;
          color: $col-17;
        }
      }
    }
  }
}
