$font-rubik: 'Rubik', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-island: 'Island Moments', cursive;
$font-ropa: 'Ropa Sans', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-playwrite: 'Playwrite IT Moderna', sans-serif;
$nightowl-border: #1d3b53;
$col-1: #222746;
$col-2: #b9c1cf;
$col-3: #4a5070;
$col-4: #444058;
$col-5: #9296a4;
$col-6: #282d4d;
$col-7: #ee6173;
$col-8: #c1c9d7;
$col-9: #518beb;
$col-10: #646981;
$col-11: #843fed;
$col-12: #7a5d65;
$col-13: #1d223f;
$col-14: #274e5b;
$col-15: #792d3c;
$col-16: #d2a65e;
$col-17: #1aa66f;
$col-18: #323553;
$col-19: #afb5c1;
$col-20: #604f5c;
.container{
    background-color:$col-1;
    width: 100vw;
}