
.container-main{
    background: url("../images/ment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 4;
}
.overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* In Auth.scss or another CSS file */
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-down {
    animation: fadeInDown 0.5s ease-out;
  }
  