$col-1: #222746;
$col-2: #b9c1cf;
$col-3: #4a5070;
$col-4: #444058;
$col-5: #9296a4;
$col-6: #282d4d;
$col-7: #ee6173;
$col-8: #c1c9d7;
$col-9: #518beb;
$col-10: #646981;
$col-11: #843fed;
$col-12: #7a5d65;
$col-13: #1d223f;
$col-14: #274e5b;
$col-15: #792d3c;
$col-16: #d2a65e;
$col-17: #1aa66f;
$col-18: #323553;
$col-19: #afb5c1;
$col-20: #604f5c;
$font-rubik : 'Rubik', sans-serif;
$font-josefin : 'Josefin Sans', sans-serif;
$font-island : 'Island Moments', cursive;
$font-ropa : 'Ropa Sans', sans-serif;
$font-jost : 'Jost', sans-serif;
$font-playwrite : 'Playwrite IT Moderna', sans-serif;
@mixin chat-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #b9c1cf;
        width: 100%;
        border-left: 2px solid $col-7;
    }
}
.container {
    display: grid;
    grid-template-columns: 9% 30% 90%;
    width: 100%;
    height: 100vh;
    margin: 0; 
    padding: 0;
}

.nav-bar {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: $col-3;
    .nav-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        background-color: $col-4;
        img{
            width: 50px;
            height: 50px;
        }
    } 
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 20px;
        .nav-item{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background-color: $col-4;
            border-radius: 10px;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
            }
            p{
                font-family: $font-josefin;
                font-size: 20px;
                color: $col-2;
                margin-left: 10px;
            }
        }
        .chats-container{
            @include chat-container;
        }
        .group-container{
            @include chat-container;
        }
        .user-container{
            @include chat-container;        
        }

    }

}

.content-container {
    background-color: $col-5;
}

.chat-content-container {
    background-color: #518beb;
}

