$color-celestial-blue: #4990e2;
$color-celestial-sky: #6cb4e2;
$color-celestial-light: #9cd4e2;
$color-celestial-dusk: #315d89;
$color-celestial-night: #1d3a56;
$nightowl-info: #21c7a8;


$color-slate-gray: #708090;
$color-slate-blue: #6a5acd;
$color-slate-light: #b0c4de;
$color-slate-dark: #2f4f4f;
$color-slate-ash: #778899;

$color-dark-charcoal: #36454f;
$color-dark-onyx: #353839;
$color-dark-graphite: #474a51;
$color-dark-midnight: #2c3e50;
$color-dark-raven: #4b4b4b;

$color-light-ivory: #fffff0;
$color-light-cream: #fffdd0;
$color-light-pastel: #e6e6fa;
$color-light-mint: #f5fffa;
$color-light-snow: #fffafa;
$color-forest-jungle: #29ab87;
$font-rubik : 'Rubik', sans-serif;
$font-josefin : 'Josefin Sans', sans-serif;
$font-island : 'Island Moments', cursive;
$font-ropa : 'Ropa Sans', sans-serif;
$font-jost : 'Jost', sans-serif;
$font-playwrite : 'Playwrite IT Moderna', sans-serif;
$nightowl-border: #1d3b53;

@mixin info-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color:$color-celestial-sky;
    border-radius: 8px;
    gap: 20px;
    width: 300px;
    max-height: 300px;
    height: 102px;
    // border-left: 6px solid $nightowl-info;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard {
  display: flex;
  flex-direction: row;

  .side-bar {
    width: 20%;
  }

  .content-container {
    width: 80%;
    background-color: $color-light-pastel;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: $color-celestial-night;
      color: white;

      .user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $color-forest-jungle;
        }
      }

      .notifications,
      .reminders {
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
        }

        p {
          margin-left: 10px;
        }
      }

      .search-bar {
        display: flex;
        align-items: center;

        .search-icon {
          margin-right: 10px;
        }

        input {
          padding: 10px;
          border: none;
          border-radius: 8px;
          width: 200px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .welcome-message {
        display: flex;
        flex-direction: row;
      padding: 20px;
      gap: 20px;
      background-color: #fff;
      max-height: 200px;
      margin: 50px 50px;
      border-radius: 12px;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-bottom: 2px solid #fa8072;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .image-welcome{
        img{
            width: 200px;
            height: 200px;
        }
      }
      .message{
        h1{
            font-family: $font-rubik;
            font-size: 2rem;
            margin-bottom: 20px;
            margin-top: 40px;
            text-align: left;
        }
      }
      h1 {
        font-size: 1.5rem;
        text-align: left;
      }
    }
    .info-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
        .appoint-container{
            @include info-card;
            .img-cont{
                background-color:rgba(249, 100, 7, 0.3);
                border-radius: 8px;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
            }
            .content{
                margin-top: 10px;
                margin-left: -3px;
                h2{
                    font-family: $font-rubik;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    color:$color-light-snow;
                }
                p{
                    font-family: $font-rubik;
                    font-size: 23px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-align: left;
                    margin-left: 2px;
                    color:orangered;
                }
            }
        }
        .progress{
            @include info-card;
            .img-cont{
                background-color:rgba(152, 249, 7, 0.3);
                border-radius: 8px;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
            }
            .content{
                margin-top: 10px;
                margin-left: -3px;
                h2{
                    font-family: $font-rubik;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    color:$color-light-snow;
                }
                p{
                    font-family: $font-rubik;
                    font-size: 23px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-align: left;
                    margin-left: 2px;
                    color:#addb67;
                }
            }

        }
        .therapy-sessions{
            @include info-card;
            width: 350px;
            .img-cont{
                background-color:rgba(93, 40, 142, 0.3);
                border-radius: 8px;
                width: 100px;
                height: 80px;
                display: flex;
                justify-content: center;
            }
            .content{
                margin-top: 10px;
                margin-left: -3px;
                h2{
                    font-family: $font-rubik;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    color:$color-light-snow;
                }
                p{
                    font-family: $font-rubik;
                    font-size: 23px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-align: left;
                    margin-left: 2px;
                    color:#8616d2;
                }
            }
        }
        .mental-exercises{
            @include info-card;
            .img-cont{
                background-color:rgba(5, 5, 5, 0.3);
                border-radius: 8px;
                width: 100px;
                height: 80px;
                display: flex;
                justify-content: center;
            }
            .content{
                margin-top: 10px;
                margin-left: -3px;
                h2{
                    font-family: $font-rubik;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    color:$color-light-snow;
                }
                p{
                    font-family: $font-rubik;
                    font-size: 23px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-align: left;
                    margin-left: 2px;
                    color:#1378dd;
                }
            }
        }
    }
  }
}

@media (min-width: 1280px) {
  .dashboard {
    .content-container {
      .header {
        .search-bar {
          input {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (min-width: 1366px) {
  .dashboard {
    .content-container {
      .header {
        .search-bar {
          input {
            width: 400px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .dashboard {
    .content-container {
      .header {
        .search-bar {
          input {
            width: 500px;
          }
        }
      }
    }
  }
}
