.container{
    display: flex;
    .image-container{
        width: 100%;
        position: absolute;
        z-index: 0;
    }
    .navbar{
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    .header{
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 30%;
        right: 20%;
        h1{
            font-size: 40px;
            color: #fff;
            width: 300px;
            margin: 20px 0 auto;
            text-align: left;
        }
        h2{
            font-size: 20px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        
    }
}