$font-rubik : 'Rubik', sans-serif;
$font-josefin : 'Josefin Sans', sans-serif;
$font-island : 'Island Moments', cursive;
$font-ropa : 'Ropa Sans', sans-serif;
$font-jost : 'Jost', sans-serif;
$font-playwrite : 'Playwrite IT Moderna', sans-serif;
@import "colors";
@mixin card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $color-light-pastel;
  border-radius: 8px;
  width: 370px;
  max-height: 300px;
  border-left: 6px solid $nightowl-info;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
  &:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color:$color-slate-light;
    border-left: none !important;
    border-right: 6px solid $noctis-accent;
    transform: translateY(-1px);

  }
  @media (min-width: 640px) {
    padding: 1.5rem;
  }
  
  @media (min-width: 768px) {
    padding: 2rem;
  }
  
  @media (min-width: 1024px) {
    padding: 2.5rem;
  }
}


@mixin rows{
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
  overflow: hidden;
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
  .intro-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    
  
  }
  
  .image-container {
    width: 100vw;
    height: 100vh;
  }.top{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    .logo-cont{
        display: flex;
        flex-direction: row;
        margin-top: 70px;
.logo-name{
    h3{
        font-family: $font-playwrite;
        font-size: 26px;
        font-weight: 700;
        color: $color-light-snow;
        margin-bottom: 20px;
        margin-top: 40px;
        text-align: center;
        position: absolute;
        z-index: 3;
        display: flex;
    }
}
    .logo-container{
       img{
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          transform: scale(1.1);
        }
  
    }
    }
}
    position: absolute;
    z-index: 3;
    display: flex;
 
  .navbar{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    margin-left: 55%;
    margin-top: 100px !important;
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0 auto;
        color: $color-light-snow;
        font-family: $font-ropa;
        font-size: 20px;
        border: 1px solid $nightowl-accent-light;
        border-radius: 5px;
      }
      
      .nav div {
        margin: 0 1rem;
        cursor: pointer;
      }
      
      .nav div:hover {
        color: #f56565;
      }
  }
}
 
  
  .header {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-family: $font-rubik;
    top: 40%;
    padding: 20px;
    text-align: left;
    right: 50%;
    width: 600px;
    .button-container{
        button{
            background-color: $nightowl-accent-light;
            border-radius: 18px;
            width: 200px;
            height: 50px;
            font-family: $font-jost;
            font-size: 20px;
            &:hover{
                background-color: $nightowl-accent;
            }
            &:active{
                background-color: $nightowl-accent;
            }
            &:focus{
                background-color: $nightowl-accent;
            }
        }
    }
   
    .rectangle{
        background-color: $noctis-fg;
        height: 5px !important;
        position: relative;
        top: 80%;
        border-radius: 5px;
        width: 500px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    h1{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        font-family: $font-rubik;
        text-align: left;
        color: $nightowl-accent-light;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }
    h2{
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        font-family: $font-jost;
        text-align: left;
        color: $color-light-pastel;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        
    }

  }
  
  .footer {
    background-color: #e2e8f0;
  }
  }

  
@keyframes zoom {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1); 
    }
  }
  
  .image-container {
    position: relative;  
    overflow: hidden;  
    
    .zooming-image {
      animation: zoom 7s infinite; 
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .service-section{
    width: 100%;
      height: 90vh;
      background-color: $color-light-mint;

    .services-section {
      
      .cards{
        display: flex;
        flex-direction:column;
        gap: 20px;
        .row-1{
          @include rows;
        }
        .row-2{
          @include rows;
        }
        .service-card{
          @include card;
          .content-div{
            h3{
              font-family: $font-rubik;
              font-size:25px;
              font-weight: 700;
              color: $color-dark-graphite;              

            }
            p{
              font-family: $font-jost;
              font-size: 16px;
              font-weight: 400;
              color: $color-dark-graphite;
              text-align: center;
            }
          }
          }
      }
    }
      }
    .about-section{
      background-color:rgba(44, 111, 88, 0.3);
      width: 100%;
      .about-intro{
        border: 2px solid rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        width: 90%;
        height: 270px;
        .about-image{
       
          img{
            width: 51%;
            height: 100%;
            margin-left: -260px;
            display: flex;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.01);
            }
          }
        }
      }
    }
    .contact-section{
      width: 100%;
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(-5px);
      }
    }
 
    .unique {
      animation: bounce 2s infinite;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform-origin: center;
      width: 485px;
    }
    .contact-section {
      background-color: #f3f4f6;
      padding: 2rem 0;
    
      .container {
        max-width: 1120px;
        margin: 0 auto;
        padding: 0 1rem;
    
        h2 {
          margin-bottom: 2rem;
          text-align: center;
          font-size: 1.875rem;
          font-weight: bold;
          color: #111827;
        }
    
        form {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1.5rem;
    
          @media (min-width: 640px) {
            grid-template-columns: 1fr 1fr;
          }
    
          div {
            label {
              display: block;
              font-size: 0.875rem;
              font-weight: medium;
              color: #4b5563;
            }
    
            input,
            textarea {
              width: 100%;
              padding: 0.5rem;
              margin-top: 0.25rem;
              border: 1px solid #d1d5db;
              border-radius: 0.375rem;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
              focus {
                outline: none;
                ring: 2px solid #6366f1;
                border-color: #6366f1;
              }
            }
    
            textarea {
              height: 8rem;
            }
    
            .helper-text {
              font-size: 0.875rem;
              color: #6b7280;
            }
          }
        }
    
        .buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 2rem;
    
          @media (min-width: 640px) {
            flex-direction: row;
            justify-content: space-between;
          }
    
          button {
            width: 300px;
            padding: 0.5rem 1rem;
            font-size: 0.875rem;
            font-weight: medium;
            color: #fff;
            background-color: #6366f1;
            border: 1px solid #6366f1;
            border-radius: 0.375rem;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            transition: background-color 0.3s;
    
            &:hover {
              background-color: #4f46e5;
            }
    
            &:focus {
              outline: none;
              ring: 2px solid #6366f1;
              border-color: #6366f1;
            }
          }
    
          p {
            margin-top: 1rem;
            font-size: 0.875rem;
            color: #6b7280;
    
            @media (min-width: 640px) {
              margin-top: 0;
            }
    
            a {
              color: #6366f1;
              text-decoration: none;
    
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
    
        .social-icons,
        .contact-info {
          display: flex;
          justify-content: center;
          margin-top: 2rem;
    
          a {
            margin: 0 0.5rem;
            img {
              width: 30px;
              object-fit: contain;
            }
          }
        }
    
        .contact-info {
          flex-direction: column;
          align-items: center;
          margin-top: 1rem;
    
          @media (min-width: 640px) {
            flex-direction: row;
            margin-top: 2rem;
          }
    
          a {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            color: #111827;
            text-decoration: none;
    
            @media (min-width: 640px) {
              margin: 0 1rem;
            }
    
            img {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    .footer {
      background-color: #0000;
      width: 100%;
      padding: 2rem 0;
      color: #ffffff;
    
      .container {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
    
        p {
          margin: 0;
        }
      }
    
      @media (min-width: 640px) {
        .container {
          text-align: left;
        }
      }
    }
    