$font-rubik : 'Rubik', sans-serif;
$font-josefin : 'Josefin Sans', sans-serif;
$font-island : 'Island Moments', cursive;
$font-ropa : 'Ropa Sans', sans-serif;
$font-jost : 'Jost', sans-serif;
$font-playwrite : 'Playwrite IT Moderna', sans-serif;
@import "colors";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
      
  .intro-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    
  
  }
  
  .image-container {
    width: 100vw;
    height: 100vh;
  }.top{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    .logo-cont{
        display: flex;
        flex-direction: row;
        margin-top: 70px;
.logo-name{
    h3{
        font-family: $font-playwrite;
        font-size: 26px;
        font-weight: 700;
        color: $color-light-snow;
        margin-bottom: 20px;
        margin-top: 40px;
        text-align: center;
        position: absolute;
        z-index: 3;
        display: flex;
    }
}
    .logo-container{
       img{
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          transform: scale(1.1);
        }
  
    }
    }
}
    position: absolute;
    z-index: 3;
    display: flex;
 
  .navbar{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    margin-left: 80%;
    margin-top: 100px !important;
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0 auto;
        color: $color-light-snow;
        font-family: $font-ropa;
        font-size: 20px;
        border: 1px solid $nightowl-accent-light;
        border-radius: 5px;
      }
      
      .nav div {
        margin: 0 1rem;
        cursor: pointer;
      }
      
      .nav div:hover {
        color: #f56565;
      }
  }
}
 
  
  .header {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-family: $font-rubik;
    top: 40%;
    padding: 20px;
    text-align: left;
    right: 50%;
    width: 600px;
    .button-container{
        button{
            background-color: $nightowl-accent-light;
            border-radius: 18px;
            width: 200px;
            height: 50px;
            font-family: $font-jost;
            font-size: 20px;
            &:hover{
                background-color: $nightowl-accent;
            }
            &:active{
                background-color: $nightowl-accent;
            }
            &:focus{
                background-color: $nightowl-accent;
            }
        }
    }
   
    .rectangle{
        background-color: $noctis-fg;
        height: 5px !important;
        position: relative;
        top: 80%;
        border-radius: 5px;
        width: 500px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    h1{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        font-family: $font-rubik;
        text-align: left;
        color: $nightowl-accent-light;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }
    h2{
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        font-family: $font-jost;
        text-align: left;
        color: $color-light-pastel;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        
    }

  }
  
  .services-section,
  .about-us-section,
  .mission-section,
  .conditions-section {
    background-color: #ffffff;
  }
  
  .service-card,
  .mission-card,
  .condition-card {
    border: 1px solid #cbd5e0;
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover,
  .mission-card:hover,
  .condition-card:hover {
    transform: translateY(-10px);
  }
  
  .footer {
    background-color: #e2e8f0;
  }
  }

  
@keyframes zoom {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1); 
    }
  }
  
  .image-container {
    position: relative;  
    overflow: hidden;  
    
    .zooming-image {
      animation: zoom 7s infinite; 
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }