$font-rubik: 'Rubik', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-island: 'Island Moments', cursive;
$font-ropa: 'Ropa Sans', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-playwrite: 'Playwrite IT Moderna', sans-serif;
$nightowl-border: #1d3b53;
$col-1: #222746;
$col-2: #b9c1cf;
$col-3: #4a5070;
$col-4: #444058;
$col-5: #9296a4;
$col-6: #282d4d;
$col-7: #ee6173;
$col-8: #c1c9d7;
$col-9: #518beb;
$col-10: #646981;
$col-11: #843fed;
$col-12: #7a5d65;
$col-13: #1d223f;
$col-14: #274e5b;
$col-15: #792d3c;
$col-16: #d2a65e;
$col-17: #1aa66f;
$col-18: #323553;
$col-19: #afb5c1;
$col-20: #604f5c;

.container-profile{
    background-color:$col-1;
    width: 100%;
    max-width: 1920;
    .user-container{
        .icon{
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                display: block;
                filter: hue-rotate(90deg);
            }
        }
        h2{
            color: $col-7;
            font-family: $font-rubik;
            font-size: 30px;
            margin: 0;
        }
        p{
            color: $col-5;
            font-family: $font-ropa;
            font-size: 1.5rem;
            margin: 0;
        }
        h3{
            color: $col-2;
            font-family: $font-rubik;
            font-size: 20px;
            margin: 0;
        }
    }
    .bio-container{
        background-color: $col-2;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        h3{
            color: $col-1;
            font-family: $font-rubik;
            font-size: 20px;
            margin: 0;
        }
        p{
            color: #000;
            font-family: $font-rubik;
            font-size: 1.5rem;
            margin: 0;
        }
    }
}